.card.hovercard .cardheader {
    height: 120px;
    width: 100%;
}

.card.hovercard .avatar {
    top: -95px;
    margin-bottom: -115px;
}

.card.hovercard .avatar img {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
}

.dev-tool {
    margin-bottom: 70px;
    /* Default to invisible */
    opacity: 0;
}

.tool-content {
    min-height: 250px;
    max-width: 100%;
    width: auto;
}

.comment-formatter {
    min-height: 250px;
}