.generated-ipsum {
    background: #e3e3e3;
    padding: 2em;

}

p {
    font-weight: 400;
    margin-bottom: 10px !important;
    color: #616161;
    line-height: 1.75;
    font-size: 19px;
}

.lead {
    font-size: 130% !important;
    margin-bottom: 25px !important;
    line-height: 1.4;
}

